/* LIST
   =-=-=-=-=-=-=-=
*/

.group:after {
  content: "";
  display: table;
  clear: both;
}

#e2-events .event {
	padding: 0 0 20px 0;
	margin: 20px 0;
	border-bottom: solid 1px #e0e0e0;
}

#e2-events .event img {
	object-fit: cover;
	width: 100%;
	max-width: 100%;
	height: 100px;
}

/* Small screens only */
@media (max-width: 767px) {

	#e2-events .event {
		margin-left:-20px;
		margin-right:-20px;
	}

	#e2-events .event-details {
		padding-left: 30px;
	    padding-right: 30px;
	    margin-top: 10px;
	}

}

/* Larger screens only */
@media (min-width: 768px) {

	#e2-events .event.first {
		border-top: 1px solid #e0e0e0;
		padding-top: 20px;
	}

	#e2-events .event-image-container {
		display: flex;
		flex-direction: row;
		overflow: hidden;
		padding-right: 0;
	}

	#e2-events .event img {
		height: 100%;
		width: 100%;
		max-width: none;
		min-height: 100px;
		max-height: 100px;
	}

}

#e2-events h3, #e2-events h4 {
	margin:0;
	padding:0;
}

#e2-events h4:before {
    display: inline-block;
    padding-right: 5px;
    font-size: 1.4em;
    font-family: dashicons;
    text-decoration: inherit;
    font-weight: 400;
    font-style: normal;
    vertical-align: top;
    text-align: center;
    -webkit-transition: color .1s ease-in 0;
    transition: color .1s ease-in 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#e2-events h4.accordion-closed:before {
	content: "\f347";
}

#e2-events h4.accordion-open:before {
	content: "\f343";
}

#e2-events p.event_start {
	margin: 5px 0 10px 0;
	padding: 0;
	line-height: 1.2em;
}

#e2-events .accordion p {
	line-height: 1.5em;
	margin-right: 10px;
}

#e2-events .accordion-toggle {
	margin: 5px 0;
	cursor: pointer;
}

#e2-events .accordion-content { 
	display: none;
	margin-bottom: 20px;
}


/* MAP
   =-=-=-=-=-=-=-=.
*/ 

#map { 
	height: 450px; 
}

#map #infowindow {
	margin: 0.5em 0;
	max-width: 300px;
}

#map #infowindow h2 {
	margin: 0;
	font-size: 1em;
}

#map #infowindow img {
	max-width: 100%;
	width: 100%;
	height: 120px;
	object-fit: cover;
}

#map #infowindow p {
	margin: 0 0 1em 0;
	line-height: 1.2em;
}

#no-geo article {
	margin-top: 1em;
	line-height: 1.4em;
}