/* LIST
*/

.group:after {
  content: "";
  display: table;
  clear: both;
}

#e2-events .event {
	padding: 0 0 10px 0;
	margin: 20px 0;
	border-radius: 2px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1),0 2px 10px 0 rgba(0,0,0,0.1);
}

#e2-events .event img {
	object-fit: cover;
	width: 100%;
	max-width: 100%;
	height: 100px;
}

#e2-events div.event-details {
	padding-left: 30px;
	padding-right: 30px;
}

#e2-events h3, #e2-events h4 {
	margin:0;
	padding:0;
}

#e2-events h4:before {
    display: inline-block;
    padding-right: 5px;
    font-size: 1.4em;
    font-family: dashicons;
    text-decoration: inherit;
    font-weight: 400;
    font-style: normal;
    vertical-align: top;
    text-align: center;
    -webkit-transition: color .1s ease-in 0;
    transition: color .1s ease-in 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#e2-events h4.accordion-closed:before {
	content: "\f347";
}

#e2-events h4.accordion-open:before {
	content: "\f343";
}

#e2-events p.event_start {
	margin: 0;
	padding: 0;
}

#e2-events .accordion p {
	line-height: 1.5em;
	margin-bottom: 10px;
}

#e2-events .accordion-toggle {
	margin: 5px 0;
	cursor: pointer;
}

#e2-events .accordion-content { 
	display: none;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ebebeb;
}


/* MAP
*/ 

#map { 
	height: 450px; 
}

#map #infowindow {
	margin: 0.5em 0;
	max-width: 300px;
}

#map #infowindow h2 {
	margin: 0;
	font-size: 1em;
}

#map #infowindow img {
	max-width: 100%;
	width: 100%;
	height: 120px;
	object-fit: cover;
}

#map #infowindow p {
	margin: 0 0 1em 0;
	line-height: 1.2em;
}

#no-geo article {
	margin-top: 1em;
	line-height: 1.4em;
}