/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 #e2 .form-table input {
 	display:block;
 	width: 1400px;
 	max-width: 100%;
 }

 #e2 input.button {
 	margin-top:1em;
 }